In [1]:
import pandas as p
import numpy as n

In [2]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split as tts

In [3]:
data=p.read_csv('diabetesdataset.csv')

In [4]:
data

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148,72,35,0,33.6,0.627,50,1
1,1,1,85,66,29,0,26.6,0.351,31,0
2,2,8,183,64,0,0,23.3,0.672,32,1
3,3,1,89,66,23,94,28.1,0.167,21,0
4,4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...
763,763,10,101,76,48,180,32.9,0.171,63,0
764,764,2,122,70,27,0,36.8,0.340,27,0
765,765,5,121,72,23,112,26.2,0.245,30,0
766,766,1,126,60,0,0,30.1,0.349,47,1
767,767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
data.describe()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,383.500000,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,221.846794,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,191.750000,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,383.500000,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,575.250000,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,767.000000,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                768 non-null    int64
 1   Pregnancies               768 non-null    int64
 2   Glucose                   768 non-null    int64
 3   BloodPressure             768 non-null    int64
 4   SkinThickness             768 non-null    int64
 5   Insulin                   768 non-null    int64
 6   BMI                       768 non-null    float64
 7   DiabetesPedigreeFunction  768 non-null    float64
 8   Age                       768 non-null    int64
 9   Outcome                   768 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 60.1 KB

In [7]:
data.isnull().sum()

Unnamed: 0                  0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [8]:
data.columns

Index(['Unnamed: 0', 'Pregnancies', 'Glucose', 'BloodPressure',
       'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age',
       'Outcome'],
      dtype='object')

In [9]:
temp=data.copy(deep=True)

In [10]:
temp[['Glucose', 'BloodPressure',
       'SkinThickness', 'Insulin', 'BMI']]=temp[['Glucose', 'BloodPressure',
       'SkinThickness', 'Insulin', 'BMI']].replace(0,n.nan)

In [11]:
temp

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...,...
763,763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [12]:
temp.isnull()

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,True,False,False,False,False
765,False,False,False,False,False,False,False,False,False,False
766,False,False,False,False,True,True,False,False,False,False
767,False,False,False,False,False,True,False,False,False,False

In [13]:
temp.isnull().sum()

Unnamed: 0                    0
Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [14]:
data['Glucose']=data['Glucose'].replace(0,data['Glucose'].mean())
data['BloodPressure']=data['BloodPressure'].replace(0,data['BloodPressure'].mean())
data['SkinThickness']=data['SkinThickness'].replace(0,data['SkinThickness'].mean())
data['Insulin']=data['Insulin'].replace(0,data['Insulin'].mean())
data['BMI']=data['BMI'].replace(0,data['BMI'].mean())

In [15]:
x=data.drop('Outcome',axis=1)
y=data['Outcome']

In [16]:
x

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,6,148.0,72.0,35.000000,79.799479,33.6,0.627,50
1,1,1,85.0,66.0,29.000000,79.799479,26.6,0.351,31
2,2,8,183.0,64.0,20.536458,79.799479,23.3,0.672,32
3,3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21
4,4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33
...,...,...,...,...,...,...,...,...,...
763,763,10,101.0,76.0,48.000000,180.000000,32.9,0.171,63
764,764,2,122.0,70.0,27.000000,79.799479,36.8,0.340,27
765,765,5,121.0,72.0,23.000000,112.000000,26.2,0.245,30
766,766,1,126.0,60.0,20.536458,79.799479,30.1,0.349,47
767,767,1,93.0,70.0,31.000000,79.799479,30.4,0.315,23

In [17]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [18]:
scaler = StandardScaler()
scaler.fit(x)
standardized_data = scaler.transform(x)
x = standardized_data
y = data['Outcome']

In [19]:

xtr,xte,ytr,yte=tts(x,y,test_size=0.20,random_state=42)

In [20]:
p_lr=Pipeline([('scalar1',StandardScaler()),('lr_classifier',LogisticRegression())])
p_knn=Pipeline([('scalar2',StandardScaler()),('knn_classifier',KNeighborsClassifier())])
p_svc=Pipeline([('scalar3',StandardScaler()),('svc_classifier',SVC())])
p_dt=Pipeline([('dt_classifier',DecisionTreeClassifier())])
p_rf=Pipeline([('rf_classifier',RandomForestClassifier(max_depth=3))])
p_gbc=Pipeline([('gbc_classifier',GradientBoostingClassifier())])

In [21]:
pl=[p_lr,p_knn,p_svc,p_dt,p_rf,p_gbc]

In [22]:
pl

[Pipeline(steps=[('scalar1', StandardScaler()),
                 ('lr_classifier', LogisticRegression())]),
 Pipeline(steps=[('scalar2', StandardScaler()),
                 ('knn_classifier', KNeighborsClassifier())]),
 Pipeline(steps=[('scalar3', StandardScaler()), ('svc_classifier', SVC())]),
 Pipeline(steps=[('dt_classifier', DecisionTreeClassifier())]),
 Pipeline(steps=[('rf_classifier', RandomForestClassifier(max_depth=3))]),
 Pipeline(steps=[('gbc_classifier', GradientBoostingClassifier())])]

In [23]:
for pipe in pl:
    pipe.fit(xtr,ytr)

In [24]:
pd={0:'LR',
    1:'KNN',
    2:'SVC',
    3:'DT',
    4:'RF',
    5:'GBC'
   }

In [25]:
pd

{0: 'LR', 1: 'KNN', 2: 'SVC', 3: 'DT', 4: 'RF', 5: 'GBC'}

In [26]:
for i,model in enumerate(pl):
    print("{} test acc:{}".format(pd[i],model.score(xte,yte)))

LR test acc:0.7662337662337663
KNN test acc:0.6883116883116883
SVC test acc:0.7337662337662337
DT test acc:0.7402597402597403
RF test acc:0.7727272727272727
GBC test acc:0.7532467532467533

In [27]:
from sklearn.ensemble import RandomForestClassifier
x=data.drop('Outcome',axis=1)
y=data['Outcome']

In [28]:
x

,Unnamed: 0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,6,148.0,72.0,35.000000,79.799479,33.6,0.627,50
1,1,1,85.0,66.0,29.000000,79.799479,26.6,0.351,31
2,2,8,183.0,64.0,20.536458,79.799479,23.3,0.672,32
3,3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21
4,4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33
...,...,...,...,...,...,...,...,...,...
763,763,10,101.0,76.0,48.000000,180.000000,32.9,0.171,63
764,764,2,122.0,70.0,27.000000,79.799479,36.8,0.340,27
765,765,5,121.0,72.0,23.000000,112.000000,26.2,0.245,30
766,766,1,126.0,60.0,20.536458,79.799479,30.1,0.349,47
767,767,1,93.0,70.0,31.000000,79.799479,30.4,0.315,23

In [29]:
scaler = StandardScaler()
scaler.fit(x)
standardized_data = scaler.transform(x)

In [30]:
X = standardized_data
Y = data['Outcome']

In [31]:
rf=RandomForestClassifier(max_depth=3)

In [32]:
rf.fit(x,y)

RandomForestClassifier(max_depth=3)

In [33]:
new_data=p.DataFrame({
    'Unnamed: 0':10,
    'Pregnancies':3,
    'Glucose':171,
    'BloodPressure':72,
    'SkinThickness':33,
    'Insulin':135,
    'BMI':33.3,
    'DiabetesPedigreeFunction':0.19899999999999998,
    'Age':24,
},index=[0])

In [34]:
i=rf.predict(new_data)

In [35]:
i[0]

1

In [36]:
import joblib

In [37]:
joblib.dump(rf,'model_joblib_diabetes')

['model_joblib_diabetes']

In [38]:
model=joblib.load('model_joblib_diabetes')

In [41]:
a=model.predict(new_data)
if (a[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

The person is diabetic